.bigone{
    height: 450px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../public/images/big-image-7.jpg");
}
.sliderdiv{
    display: flex;
    gap: 16px;
    margin: 16px;
    animation: slide 8s infinite linear;
    perspective: 100px;
}
.parentdiv{
    overflow: hidden;
}

img:hover{
    transform: translateZ(1px);
    
}
.allimage{
    cursor: pointer;
    border-radius: 8px;
    width: 320px;
    height: 192px;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-52%);
    }
}

@media all and (max-width: 700px){
    .bigone{
        height: 150px;
    }
    .sliderdiv{
        margin: 16px 10px;
        height: 100px;
    }
    .allimage{
        height: 100px;
        width: 190px;
    }
}

@media all and (max-width:820px){
    @keyframes slide {
        100%{
            transform: translateX(-153%);
        }        
    }
}

@media all and (max-width:320px){
    .sliderdiv{
        animation: slide 18s infinite;
    }
    @keyframes slide {
        100%{
            transform: translateX(-293%);
        }        
    }
}